.file {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000000;
}

.file__description {
  margin: 0 0 1rem;
  line-height: 1.5;
}

.file__name, .file__from-name, .file__to-name {
  display: inline-block;
  padding: 0 0.25rem;
  font-family: monospace, monospace;
  background-color: #D7D7D7;
}
